<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <a id="list" href="#">List</a><br>
   <a id="detail" href="#">Detail</a><br>
   <a id="register" href="#">Register</a>
    <script>
        $('#detail').click(e => { location.href = '/move/guides/detail'})
        $('#list').click(e => { location.href = '/move/guides/list'})
        $('#register').click(e => { location.href = '/move/guides/register'})
    </script>
</body>
</html>